 /*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */



$backgroundColor: rgb(32, 32, 32);

//Text color
$textLink: white;
$textColor: white;

//Links
$linkBcgColor: #205D86;

$linkBcgColor: #02bd6e;

$linkBorder: #143B55;

$linkHoverColor: #F26052;
