/* sass-intro
 *
 * /sass/styles.scss - Main stylesheet
 * by Gabriel
 */

// Settings
@import "settings/colors";
@import "settings/fonts";
@import "settings/size";

// Generic
@import "generic/reset";

/*wrapper*/
body{
    font-family: Arvo, "Helvetica neue", "Helvetica", sans-serif;
}
.wrapper {
    background-color: #292929;
    line-height: 1.5;
    margin: 10px auto;
    width: 88%;
}

/*section*/
section {
    color: white;
    display: block;
    margin: 0 auto;
    min-height: 520px;
    padding-top: 100px;
    width: 960px;
}

//about
.about{
&__article {
    display: inline-block;
}
&__heading {
    display: inline-block;
    font-family: "Arvo-Bold";
    font-size: 1.875em;
    margin-bottom: 20px;
    margin-left: 30px;
    text-transform: uppercase;
}
&__figure {
    background-image: url("../img/wall1.png");
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    float: left;
    margin-left: -100px;
    min-height: 470px;
    padding-top: 30px;
    width: 50%;
& img {
    box-shadow: 0 0 4px 1px #232323;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
}
&__content {
    float: left;
    margin-left: 30px;
    width: 430px;
}
&__contact a{
    margin-right: 20px;
}
&__contact {
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

}

.contact > a, .about a {
    color: coral;
    text-decoration: none;
}

//projet
.projet{
&__figure {
    background-image: url("../img/wall1.png");
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    float: right;
    margin-right: -100px;
    min-height: 470px;
    padding-top: 30px;
    width: 50%;
}
&__content {
    width: 430px;
}
&__links {
    display: inline-block;
    margin-top: 20px;
}
&__link{
&-github{
    background-color: #FFFFFF;
    font-size: 1.435em;
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 24px;
    margin-right: 30px;
}
&-github:hover, &-github:focus {
    background-color: #c3c3c3;
}
&-github::before{
    font-family: "Glyphs";
    content: " ";
}
&-live{
    background-color: coral;
    font-size: 1.435em;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 24px;
}
&-live:hover{
    background-color: #cd6641;
}
&-live::before{
    font-family: "Glyphs";
    content: " ";
}
}
&__heading {
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Arvo-Bold";
    font-size: 1.875em;
    text-transform: uppercase;
}
& img {
    box-shadow: 0 0 4px 1px #232323;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
}
